// MODIFY
$color-primary: #000000;
$color-secondary: #FFFFFF;
$color-text-primary: #000000;
$color-text-secondary: #FFFFFF;
$color-background-primary: #F8F8F8;
$color-background-secondary: #2B2B32;
$color-background-secondary-opacity: #0101017d;
$color-scroll-track: #2B2B32;
$color-scroll-thumb: #2B2B32;
$color-line-primary: #CCCCCC;
$color-image-background: #EFEFEF;