// MODIFY
$grid-gap: 30px;
$grid-col: 12;

._grid {
    display: grid;
    gap: $grid-gap;

    @include resp(S) {
        gap: 20px;
    }

    grid-template-columns: repeat($grid-col, 1fr);

    @for $i from 1 through $grid-col {
        &-#{$i} {
            grid-template-columns: repeat($i, 1fr);
            width: 100%;
        }
    }

    @each $key,
    $value in $breaks {
        &-#{$key} {
            @for $i from 1 through $grid-col {
                &-#{$i} {
                    @include respSpecif($value) {
                        grid-template-columns: repeat($i, 1fr);
                    }
                }
            }
        }
    }

    &--without-row-gap {
        grid-row-gap: 0 !important;
    }

    &--visible-items-scheme-custom-1 {
        @include resp(M) {
            >*:nth-child(n+4) {
                display: none;
            }
        }

        @include resp(S) {
            >*:nth-child(n+4) {
                display: initial;
            }
        }
    }
}

._col {
    @for $i from 1 through $grid-col {
        &-#{$i} {
            grid-column: span #{$i};
            width: 100%;
        }

        &-#{$i}-c {
            grid-column-start: calc($grid-col / 2 - $i / 2 + 1);
            grid-column-end: calc($grid-col / 2 + $i / 2 + 1);
            width: 100%;
        }
    }

    @each $key,
    $value in $breaks {
        &-#{$key} {
            @for $i from 1 through $grid-col {
                &-#{$i} {
                    @include respSpecif($value) {
                        grid-column: span #{$i};
                        width: 100%;
                    }
                }

                &-#{$i}-c {
                    @include respSpecif($value) {
                        grid-column-start: calc($grid-col / 2 - $i / 2 + 1);
                        grid-column-end: calc($grid-col / 2 + $i / 2 + 1);
                        width: 100%;
                    }
                }
            }

            &-none {
                @include respSpecif($value) {
                    display: none;
                }
            }
        }
    }
}

._grid-row-gap-no{
    row-gap: 0 ;
}